#container{
    height: 600px;
    width: 800px;
    background-color: rgb(243, 211, 164);
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    /* align-items: flex-end ; */
    /* align-items: flex-start; */
/* align-content: center; */
/* align-content: flex-start; */
/* align-content: flex-end; */
align-items: center;


}
div{
    display: inline-block;
    height: 150px;
    width: 250px;
    background-color: indigo;
color: aliceblue;
/* align-self: flex-end; */

}
#b5{
   align-self: flex-end;

}